---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="RawCut">
	
	<section class="relative h-screen bg-cover bg-center" style="background-image: url(/bg-raw.png);">
  <div class="flex items-center justify-center h-full">
    <img class="puff-in-center" src="/raw.svg" alt="typograph">
  </div>
     <div class="absolute bottom-0 left-0 p-4 md:p-8 z-10">
    <h2 class="text-xl md:text-3xl font-semibold">RawCut</h2>
    <p class="mt-2 text-sm md:text-base">By Vibe Grith Mobeck</p>
  </div>
</section>

<section>
	<div>
		<div class="flex justify-center pt-20">
		<img class="pl-8 lg:pl-0" src="/line.svg" alt="line">
		</div>
		<p id="About" class="pl-8 lg:pl-0 text-center pt-10 italic">Raw-Cut is a graphic font with a modern take on the 70´s Lino-cut. <br> It gives an artistic and rustic feel, combining modern graphics with the retro style of Lino-Cut,
        </p>
        <div class="flex justify-center pt-10">
		<img class="pl-8 lg:pl-0" src="/line1.svg" alt="line">
		</div>
	</div>
</section>

<section class="lg:pl-0 pt-20">
	<div class="grid grid-cols-2 gap-4 lg:grid-cols-1 lg:grid-rows-2 lg:gap-6">
		<div class="grid gap-4 lg:flex justify-center lg:gap-6">
			<img src="/r1.svg" alt="type r">
			<img src="/a1.svg" alt="type c">
			<img src="/w1.svg" alt="type a">
		</div>
		<div class="grid gap-4 lg:flex justify-center lg:gap-6">
			<img src="/c1.svg" alt="type u">
			<img src="/u1.svg" alt="type w">
			<img src="/t1.svg" alt="type t">
		</div>

	</div>
</section>


	<div id="Use" class="pt-20 overflow-clip">
		<section id="horisontalscrollsection" class="h-[300vw]">
			<ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
			<li class=" relative flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><img src="/poster-type.png" alt="poster" class="w-screen" alt="poster" /><div class="absolute grid grid-cols-3 items-center"><p class="col-start-3 text-white text-xl  backdrop-filter rounded-md backdrop-blur-md p-5">RawCut would be well-suited for artistic projects, branding, or visual designs where a handcrafted, rustic feel is desired. It would work well in posters, book covers, or other media seeking a touch of authenticity and a connection to traditional printmaking.</p></div></li>
			<li class="relative flex w-[100vw] items-center justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><img src="/t-shirt.png" alt="t-shirt" class="w-2/3" alt="foto" /><div class="absolute grid grid-cols-3 justify-center pt-10"><p class="col-start-2 text-gray-900 text-xl backdrop-filter rounded-md backdrop-blur-md p-5 ">RawCut has a bold, hand-carved aesthetic, inspired by linocut printing techniques. Each letter features rough, uneven lines, giving it an organic, artisanal look. The texture within the letters shows deliberate imperfections, characteristic of relief printing methods like linoleum cuts, where the inked surface captures every cut and groove, resulting in a raw, expressive style, perfect for t-shirt print.</p></div></li>
			<li class="relative flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"><img src="/typo.png" alt="layout" class="w-screen" alt="foto" /><div class="absolute grid grid-cols-3 justify-center"><p class="col-start-1 text-white text-xl  backdrop-filter rounded-md backdrop-blur-md p-5 ">RawCut would be well-suited for artistic projects, branding, or visual designs where a handcrafted, rustic feel is desired. It would work well in posters, book covers, or other media seeking a touch of authenticity and a connection to traditional printmaking.</p></div></li>
		   </ul>
		</section>
	</div>
    
	<!--  
<section>
        <div class="flex justify-center ">
		<img class="pt-10 pl-8 lg:pt-0 lg:pl-0" src="/line1.svg" alt="line">
		</div>
		<div class="grid lg:grid-rows-2 gap-6">
		<div class="grid grid-cols-1 justify-center lg:grid-cols-2">
			<img class=" flex items-center pt-10 lg:pl-20 lg:pt-10" src="/poster-type.png" alt="plakat">
		<div class="lg:px-20">
				<h2 id="Use" class="text-center lg:text-left pt-10 pb-20 text-3xl">RawCut by Vibe</h2>
			<p class="lg:text-xl">RawCut would be well-suited for artistic projects, branding, or visual designs where a handcrafted, rustic feel is desired. It would work well in posters, book covers, or other media seeking a touch of authenticity and a connection to traditional printmaking. </p>
			<div class="flex justify-center pt-20 ">
		    <img src="/line1.svg" alt="line">
		    </div>
		</div>
		</div>
		<div class="grid lg:grid-cols-2">
			<div class="grid grid-cols-2">
			<img class="lg:pl-20 lg:pt-10" src="/typo.png" alt="font">
			<img class="lg:pl-20 lg:pt-10" src="/t-shirt.png" alt="t-shirt">
			</div>
			<div class="lg:px-20">
			<p class="lg:text-xl lg:pt-10">RawCut has a bold, hand-carved aesthetic, inspired by linocut printing techniques. Each letter features rough, uneven lines, giving it an organic, artisanal look. The texture within the letters shows deliberate imperfections, characteristic of relief printing methods like linoleum cuts, where the inked surface captures every cut and groove, resulting in a raw, expressive style.
<br> <br>Its imperfect lines and textural details evoke a sense of creativity and craftsmanship, making it ideal for conveying messages with a personal or artistic touch. </p>
			<div class="flex justify-center pt-20 ">
		    <img src="/line1.svg" alt="line">
		    </div>
            </div>
		</div>
		</div>
</section>
-->

<section>
	<div class="flex justify-center lg:pt-20">
		<img src="/line.svg" alt="line">
		</div>
      <div class="grid lg:grid-cols-2">
		    <div class="">
			<img class="lg:pl-20 lg:pt-10" src="/book-sketch.png" alt="sketch">

			<div class="grid lg:grid-cols-2 items-center self-center gap-6">
			<div>
			<img class="lg:pl-20 lg:pt-10 flex flex-col justify-self-center" src="/moodboard.png" alt="moodboard">
			<img class="lg:pl-20 lg:pt-10" src="/proces-a.svg" alt="proces-illustrator">
			</div>
		    <img class=" lg:pt-10" src="/illustrator.png" alt="illustrator">
			</div>
            </div>
			
			<div class="lg:px-20">
			<h2 id="Process" class="pt-10 pb-20 text-3xl">Process</h2>
			<p class=" lg:text-xl">To create RawCut, I began by exploring various linocuts that used typography. I was inspired by the raw and edgy quality of linocut prints, aiming to develop a typeface that could stand alone as a strong graphic element. I first sketched the letters by hand, transferred them onto a linoleum block, and carved them out.

            <br> <br>Next, I printed the letters onto paper, experimenting with different levels of pressure to achieve the desired effect. Once I was satisfied, I uploaded the print to Photoshop, isolated the letters, and then used Illustrator to trace the image. I went through multiple iterations of each letter to refine the overall look until it matched my vision.

               <br><br>With the letters complete, I started combining them into different words, adjusting the sizing and making small refinements. The final result is what you see in my hero unit.
             </p>
			<div class="flex justify-center pt-20 ">
		    <img src="/line1.svg" alt="line">
		    </div>
			<img class="pt-10" src="/lino-cut.png" alt="linoliumstryk">
            </div>
		</div>
		</div>
		<div class="flex justify-center pt-20 ">
		    <img src="/line1.svg" alt="line">
		    </div>
</section>
</MainLayout>

<script>

		/* Import af Motion One biblioteket */
			import { animate, stagger, inView, scroll, timeline, ScrollOffset } from "motion";
	
	/* Horisontal scroll sektion */
	scroll(
	animate("#horisontalliste", {
		transform: ["none", "translateX(-300vw)"]
	}),
	{ target: document.querySelector("#horisontalscrollsection") }
	); 
</script>