---
---
<div x-data="{ showmenu: false }" class=" fixed top-0 w-full z-50" >
    <div id="navbar" class="justify-between lg:justify-end items-center bg-slate-600 bg-opacity-10">
  <nav id="desktopmenu" class=" hidden lg:block items-center  p-0">
      <div class="container mx-auto">
        <ul class="flex flex-row justify-end ">
          <li class="relative text-center">
            <a href="/#About" class="block py-6 px-4 hover:text-[var(--accent-color-100)] ">About</a>
          </li>
          <li class="relative flex text-center">
            <a href="/#Use" class="block py-6 px-4 hover:text-[var(--accent-color-100)]">Use</a>
          </li>
          <li class="relative flex text-center">
            <a href="/#Process" class="block py-6 px-4 hover:text-[var(--accent-color-100)]">Proces</a>
          </li>
        </ul>
      </div>
    </nav>
    <button id="burgermenu" class="lg:hidden self-center pt-3 pl-3 z-50 " x-on:click="showmenu = ! showmenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  </button>
  
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" 
  x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
  <ul class="text-gray-600" >
    <a href="/"><li class="text-center py-2 border-y-2 ">About</li></a>
    <a href="/#info"><li class="text-center py-2 border-b-2 ">Use</li></a>
    <a href="/howto"><li class="text-center py-2 border-b-2 ">Proces</li></a>
  </nav>
  </div>
  
  